# Node
node_modules/
.expo/
dist/
web-build/
**/package-lock.json
# Expo
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local

/ios
/android
*.tsbuildinfo

# Python
backend/venv/
backend/.venv/
backend/__pycache__/
**/*.py[cod]
**/__pycache__/
backend/*.pyc
*db.sqlite3
backend/.env
backend/.env.local

# Django
*.log
local_settings.py

.DS_Store
*.pem
.idea/
.vscode/